spring:
  application:
    name: product-service
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: product
    password: tcudorp
  h2:
    console:
      enabled: true
      path: /h2-console
server:
  port: 8082
